<template name="About">
  <h1>Password Reminder</h1>
   
   <p>Forgetting which password you used for a rarely used shopping site  or an usually used social media can be a pain, 
       one that's often made worse by the fallback authentication method.
         If you're often stumped like us , here is the Password Reminder to end the annoying process.</p>

  <p> Password Reminder,for users that forget their passwords.It is a free tool system that saves our username, Web-site name and password.
 This program  stores the data securely and keeps in memory until you delete.Users can easily access their own information using the search engine.
  Users only have to remember their Password Reminder’s password to log in their information data.The system runs from web browser, not desktop application. </p>

  </template>
