<template name="PasswordList">
  <div id="password-list">
    <input type="text" class="search form-control" value="Search">
    <table class="pw-table table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Username</th>
          <th>Password</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each this}}
            <!-- VERİ TABANINDAN GELECEK-->
          {{> PasswordItem}}
        {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="PasswordItem">
  <tr class="pasword-item">
    <td class="title">
      {{ title }}
    </td>
    <td class="username">
      {{ username }}
    </td>
    <td class="password">
      {{ password }}
    </td>
    <td class="acitons">
      <a href="{{ pathFor 'password.edit' }}" class="btn btn-primary">Edit</a>
      <a class="btn btn-danger btn-remove">Delete</a>
    </td>
  </tr>
</template>